<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<div class="container">
    <div class="left">
        <div class="placeholder">

        </div>
        <div class="menu">

        </div>
    </div>
    <div class="right">
        <div class="title">
            <span>首页</span>
            <div></div>

        </div>
        <div class="articles">
            <ul>


            </ul>
        </div>
        <div class="pagination">
            <span>前一页</span>
            <span>6</span>
            <span>后一页</span>
            <span>(共45页)</span>
        </div>
    </div>
    <div class="clear"></div>
    <div class="footer">
        <p> 行动是治愈恐惧的良药，而犹豫、拖延不断滋养恐惧。---列夫·托尔斯泰
        </p>

    </div>

</div>



<script src="js/jquery-1.11.2.js"></script>

<script>
    function initUI(){
        $('.menu').load("sidebar.html");
    }
    $(function () {
        initUI();
    })

    </script>




</body>
</html>