<!DOCTYPE html>
<html lang="zh-CN"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>lvlvforever</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/blog.css}" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item active" href="/">首页</a>
            <a class="blog-nav-item" href="/tool">常用工具</a>
            <a class="blog-nav-item" href="/contact">关于</a>
        </nav>
    </div>
</div>

<div class="container-fluid" style="width: 70%">

    <div class="blog-header">
        <h1 class="blog-title">Hello World ! </h1>
        <p class="lead blog-description">记录自己人生的点滴</p>
    </div>

    <div class="row">
        <div class="col-sm-8 blog-main">


            <div class="blog-post" th:each="article,stat : ${articles}">
                <h2 class="blog-post-title" th:text="${article.name}"  th:attr="data-id=${article.objectId}" >leetcode题解</h2>
                <p class="blog-post-meta" th:text="${article.date}" >2019-01-01</p>
            </div><!-- /.blog-post -->



            <!--<nav>-->
                <!--<ul class="pager">-->
                    <!--<li><a href="#">Previous</a></li>-->
                    <!--<li><a href="#">Next</a></li>-->
                <!--</ul>-->
            <!--</nav>-->

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h4>关于</h4>
                <p></p>
            </div>
            <!--<div class="sidebar-module">-->
                <!--<h4>Archives</h4>-->
                <!--<ol class="list-unstyled">-->
                    <!--<li><a href="#">March 2014</a></li>-->
                    <!--<li><a href="#">February 2014</a></li>-->
                    <!--<li><a href="#">January 2014</a></li>-->
                    <!--<li><a href="#">December 2013</a></li>-->
                    <!--<li><a href="#">November 2013</a></li>-->
                    <!--<li><a href="#">October 2013</a></li>-->
                    <!--<li><a href="#">September 2013</a></li>-->
                    <!--<li><a href="#">August 2013</a></li>-->
                    <!--<li><a href="#">July 2013</a></li>-->
                    <!--<li><a href="#">June 2013</a></li>-->
                    <!--<li><a href="#">May 2013</a></li>-->
                    <!--<li><a href="#">April 2013</a></li>-->
                <!--</ol>-->
            <!--</div>-->
            <!--<div class="sidebar-module">-->
                <!--&lt;!&ndash; <h4>快捷</h4> &ndash;&gt;-->
                <!--<ol class="list-unstyled">-->
                    <!--<li><a href="#">文集</a></li>-->
                    <!--<li><a href="#">标签</a></li>-->
                    <!--&lt;!&ndash; <li><a href="#"></a></li> &ndash;&gt;-->
                <!--</ol>-->
            <!--</div>-->
        <!--</div>-->

        </div>

    </div>

</div>


<footer class="blog-footer">
    <p>行动是治愈恐惧的良药，而犹豫、拖延不断滋养恐惧。---列夫·托尔斯泰</p>
</footer>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>

<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script th:src="@{/js/article/index.js}"></script>

</body>
</html>
