<!DOCTYPE html>
<html lang="zh-CN"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>lvlvforever</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/blog.css}" rel="stylesheet">
    <!--<link rel="stylesheet" th:href="@{/css/style.css}" />-->
    <link rel="stylesheet" th:href="@{/css/editormd.css}" />

    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        button, input {
            outline: none;
        }

    </style>

</head>

<body>

<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item" href="/">首页</a>
            <a class="blog-nav-item active" href="/tool">常用工具</a>
            <a class="blog-nav-item" href="/contact">关于</a>
        </nav>
    </div>
</div>

<div class="container-fluid" style="width: 80%">

    <div class="blog-header">
        <h1 class="blog-title">Hello World ! </h1>
        <p class="lead blog-description"></p>
    </div>

    <div class="row">
        <div class="col-sm-9 blog-main">



            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">基本base64编解码</h3>
                </div>
                <div class="panel panel-body">

                    <form class="form-horizontal">
                        <div class="form-group">


                            <div class="col-sm-3">
                                <textarea type="text" class="form-control" id="basic-content" placeholder="原内容"></textarea>

                            </div>
                            <div class="col-sm-1">

                                <button type="button" class="btn btn-primary form-control-static" id="basic-transfer">转换</button>
                            </div>

                            <div class="col-sm-3">
                                <textarea type="text" class="form-control" id="basic-base64" placeholder="base64编码"></textarea>

                            </div>

                        </div>

                    </form>


                </div>
            </div>


            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">时间转换为时间戳</h3>
                </div>
                <div class="panel panel-body">

                    <form class="form-horizontal">
                        <div class="form-group">


                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="time" placeholder="格式:2019-02-02 10:30:30">

                            </div>
                            <div class="col-sm-2">
                                <select class="form-control">
                                    <option>中国时区</option>
                                </select>

                            </div>

                            <div class="col-sm-1">

                                <button type="button" class="btn btn-primary form-control-static" id="time2stampBtn">转换</button>
                            </div>

                            <div class="col-sm-3">
                                <select class="form-control">
                                    <option value="1">毫秒</option>
                                    <!--<option value="2">秒</option>-->
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <p  class="" id="time2stamp" ></p>

                            </div>

                        </div>

                    </form>


                </div>
            </div>







        </div><!-- /.blog-main -->

        <div class="col-sm-2 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h4>关于</h4>
                <p></p>
            </div>

        </div>

    </div>

</div>


<footer class="blog-footer">
    <p>行动是治愈恐惧的良药，而犹豫、拖延不断滋养恐惧。---列夫·托尔斯泰</p>
</footer>


<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>

<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>

    $(function () {


        $(document).on('click','#basic-transfer',function () {
            var content = $('#basic-content').val();
            var base64 = $("#basic-base64").val();
            if (content) {
                $.get("/tool/basicBase64",{content:content},function (data) {
                    $("#basic-base64").val(data.data);
                })
            }else{
                $.get("/tool/basicBase64",{encoded:base64},function (data) {
                    $("#basic-content").val(data.data);
                })
            }


        })




    });










</script>

</body>
</html>
