<!DOCTYPE html>
<html lang="zh-CN"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>lvlvforever</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/blog.css}" rel="stylesheet">
    <!--<link rel="stylesheet" th:href="@{/css/style.css}" />-->
    <link rel="stylesheet" th:href="@{/css/editormd.css}" />

    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item" href="/">首页</a>
            <a class="blog-nav-item active" href="/tool">常用工具</a>
            <a class="blog-nav-item" href="/contact">关于</a>
        </nav>
    </div>
</div>

<div class="container-fluid" style="width: 80%">

    <div class="blog-header">
        <h1 class="blog-title">Hello World ! </h1>
        <p class="lead blog-description">记录自己人生的点滴</p>
    </div>

    <div class="row">
        <div class="col-sm-8 blog-main">






            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">文件暂存服务</h3>
                </div>
                <div class="panel panel-body">

                    <form >
                        <div class="form-group">


                            <div class="col-sm-12">
                                <p>上传需要暂时保存的文件，稍后使用提取码提取信息</p>
                                <p>将提取码附在</p>
                                <p style="font-weight: bold;" th:text="${fileUrl}">fileUrl</p>
                                <p>之后即可查看保存的信息</p>
                                <p>[文件仅保存48小时，过期删除]</p>
                            </div>
                            <div class="col-sm-12">
                                <input id="myfile" type="file">

                            </div>
                            <div class="cpl-sm-12">
                                <span id="upload-rate"></span>
                            </div>
                            <div class="col-sm-12">
                                <p>提取地址是:</p>
                                <a id="restore-url"></a>
                                <p>提取码:</p>
                                <p id="token"></p>
                            </div>
                            <div class="col-sm-12">
                                <button class="btn btn-default" type="button" id="store-file">暂存</button>
                            </div>

                        </div>

                    </form>


                </div>
            </div>







        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h4>关于</h4>
                <p></p>
            </div>

        </div>

    </div>

</div>


<footer class="blog-footer">
    <p>行动是治愈恐惧的良药，而犹豫、拖延不断滋养恐惧。---列夫·托尔斯泰</p>
</footer>


<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>

<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script language='javascript' th:inline="javascript">
    var baseUrl = [[${baseUrl}]];
</script>
<script>

    $(function () {


        $(document).on('click','#store-file',function () {
            var formData = new FormData();
            formData.append('file', $('#myfile')[0].files[0]);
            $.ajax({
                url: '/tool/storeFile',
                type: 'POST',
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                xhr: function () {
                    var xhr = $.ajaxSettings.xhr();
                    if (xhr.upload) {
                        xhr.upload.addEventListener("progress", function (evt) {
                            var percent = parseInt((evt.loaded / evt.total) * 100) + '%';
                            console.log(percent)
                            $('#upload-rate').html(percent);

                        }, false);
                        return xhr;
                    }
                }
            }).done(function(data){
                var url = data.baseUrl + '/file?token=' + data.token;
                $('#restore-url').attr("href",url);
                $('#restore-url').text(url);
                $('#token').html(data.token);
            })
        })


    });


</script>

</body>
</html>
