<!DOCTYPE html>
<html lang="zh-CN"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>lvlvforever</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/blog.css}" rel="stylesheet">
    <!--<link rel="stylesheet" th:href="@{/css/style.css}" />-->
    <link rel="stylesheet" th:href="@{/css/editormd.css}" />

    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item active" href="/">首页</a>
            <a class="blog-nav-item" href="/tool">常用工具</a>
            <a class="blog-nav-item" href="/contact">关于</a>
        </nav>
    </div>
</div>

<div class="container-fluid" style="width: 80%">

    <div class="blog-header">
        <h1 class="blog-title">Hello World ! </h1>
        <p class="lead blog-description">记录自己编程人生的点滴</p>
    </div>

    <div class="row">
        <div class="col-sm-8 blog-main">



            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">当前时间</h3>
                </div>
                <div class="panel panel-body">

                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-5">
                                <p class="form-control-static" id="curTime">2019-02-20 10:00:00</p>
                            </div>
                            <div class="col-sm-5">
                                <p class="form-control-static" id="curStamp">150000000</p>
                            </div>
                        </div>

                    </form>


                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">时间戳转换为时间</h3>
                </div>
                <div class="panel panel-body">

                    <form class="form-horizontal">
                        <div class="form-group">


                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="timestamp" placeholder="时间戳...">

                            </div>
                            <div class="col-sm-2">
                                <select class="form-control" id="timeType">
                                    <option value="1">毫秒</option>
                                    <option value="2">秒</option>
                                </select>

                            </div>

                            <div class="col-sm-1">

                                <button type="button" class="btn btn-primary form-control-static" id="stamp2timeBtn">转换</button>
                            </div>

                            <div class="col-sm-3">
                                <select class="form-control">
                                    <option value="1">yyyy-MM-dd HH:mm:ss</option>
                                    <!--<option value="2">yyyy</option>-->
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <p  class="" id="stamp2time"></p>

                            </div>

                        </div>

                    </form>


                </div>
            </div>


            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">时间转换为时间戳</h3>
                </div>
                <div class="panel panel-body">

                    <form class="form-horizontal">
                        <div class="form-group">


                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="time" placeholder="输入格式:2019-02-02 10:30:30">

                            </div>
                            <div class="col-sm-2">
                                <select class="form-control">
                                    <option>中国时区</option>
                                </select>

                            </div>

                            <div class="col-sm-1">

                                <button type="button" class="btn btn-primary form-control-static" id="time2stampBtn">转换</button>
                            </div>

                            <div class="col-sm-3">
                                <select class="form-control">
                                    <option value="1">毫秒</option>
                                    <!--<option value="2">秒</option>-->
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <p  class="" id="time2stamp" ></p>

                            </div>

                        </div>

                    </form>


                </div>
            </div>







        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h4>关于</h4>
                <p></p>
            </div>

        </div>

    </div>

</div>


<footer class="blog-footer">
    <p>行动是治愈恐惧的良药，而犹豫、拖延不断滋养恐惧。---列夫·托尔斯泰</p>
</footer>


<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>

<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>

    $(function () {

        setInterval(refreshCurTime, 1000);

        $(document).on('click','#time2stampBtn',function () {

            $.get('/tool/time2stamp?time='+$('#time').val(),function(data){
                $('#time2stamp').html(data.time);

            })


        })

        $(document).on('click','#stamp2timeBtn',function () {

            $.get('/tool/stamp2time?stamp='+$('#timestamp').val(),function(data){
                $('#stamp2time').html(data.time);

            })


        })


    });

    function refreshCurTime() {

        var stamp = new Date().getTime();
        $('#curStamp').html(stamp);
        var date = new Date();
        var year = date.getFullYear();
        var month = date.getMonth() + 1;
        var day = date.getDate();
        var hour = date.getHours();
        var minute = date.getMinutes();
        var second = date.getSeconds();
        $('#curTime').html(year + '-' + padding(month) + '-' + padding(day) + ' ' + padding(hour) + ':' + padding(minute) + ':' + padding(second));

    }

    function padding(value) {
        if (value < 10) {
            return '0' + value;
        }
        return value;
    }








</script>

</body>
</html>
